.App {
  text-align: center;
}

.question-card{
  margin: 0 auto;
  background-color: gray;
  padding: 8px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 38 -18px;

  font-size: 8px;

  width: 80%;
  height: auto;
}

ul{
  list-style: none;
}

li{
  background-color: rgb(236, 230, 230);
  padding: 10px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 6px;
  font-weight: bold;
  color:black;
}

.li_right{
  background-color: green;
  color:white;
}

.li_wrong{
  background-color: red;
  color:white;
}

.question-text{
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.final-results{
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 38 -18px;

  width: 50%;
  height: auto;
}

button{
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;

}

.picture{
  max-width: 100%;
  height: auto;
}

.answer{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.studentAnswerWrong{
  text-decoration: line-through;
  text-decoration-color: rgb(255, 0, 76);
  text-decoration-thickness: 20%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.studentAnswerRight{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 255, 60);
}

.reviewComment{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.reviewedButton{
  background-color: rgb(83, 205, 83);
  padding: 10px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 6px;
  font-weight: bold;
  color:black;
}